html,
body{
    height:100%;
}


body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:azure;
  }

  .form-signin {
    width: 100%;
    max-width: 360px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
    text-align: center;
   

  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

.jumbotron {
 min-width: 400px;
 box-shadow: 3px 3px 3px #e0e4e4,
             -3px -3px 3px #e0e4e4,
             3px -3px 3px #e0e4e4,
             -3px 3px 3px #e0e4e4;
}

.h3 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(166, 168, 168);
    font-size: xx-large;
}
  
.img-circle {
     max-width: 210px;
     text-align: center;
     display: block;
     margin:0px auto;
}

