#mapimg {
    display:inline-block;
    margin-top: 30px;
    margin-right:20px;
    border-radius: 15px;
    opacity: 0.9;
}
#rightdiv {
    display:inline-block;
    font-family: "Lucida Console", "Courier New", monospace;
    vertical-align: top;
    width: 310px;
}
button {
    border: none;
    color: white;
    padding: 15px;
    width: 120px;
    font-size: 16px;
    cursor: pointer;
    background-color: #629aee;
    border-radius: 8px;
}
.day {
    font-weight: bold;
}
#divdisp {
    margin-top: 15px;
    margin-bottom: 15px;
    height:300px;
    border:2px solid #629aee;
    overflow:auto;
    padding-left: 15px;
    padding-right: 15px;
}
#sca {
    margin-top: 0px;
    font-family: sans-serif;
    font-size: large;
    color: #629aee;
    text-align: center;
}
#buttons {
    text-align:center;
}
